<% buttonClass = "button is-inverted is-link is-medium" %>

<nav class="navbar navBackground">
  <h1 class="navbar-brand is-size-1 has-text-link">
    Bec's Ruby and Rails Blog
  </h1>
  <ul class="navbar-end">
      <li class="linkClass <%= buttonClass %>"><%= link_to 'Home', "/" %></li>
      <% if current_user %>
        <li class="linkClass <%= buttonClass %>"><%= link_to 'Logout', logout_path, method: "delete" %></li>
      <% else %>
        <li class="linkClass <%= buttonClass %>"><%= link_to 'Login', "/login" %></li>
        <li class="linkClass <%= buttonClass %>"><%= link_to 'Signup', signup_path %></li>
      <% end %>
  </ul>
</nav>
